@media screen and (min-width:376px) {
    body{
        margin: 0;
        background-color: hsl(212, 45%, 89%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .card{
        border: none;
        border-radius: 25px;
        width: 340px;
        height: 537px;
        background-color: hsl(0, 0%, 100%);
        align-items: center;
        font-family: 'Outfit', sans-serif;
        box-shadow: 1px 1px 3px rgb(151, 148, 148);
    }
    .image{
        border-radius: 15px;
        border: none;
        width: 300px;
        height: 300px;
        margin-top: 18px;
    }
    .p1{
        margin: 28px 20px 15px 15px;
        text-align: center;
        color: hsl(218, 44%, 22%);
        font-size: 25px;
        font-weight: 700;
    }
    .p2{
        margin: 20px 30px 22px 30px;
        text-align: center;
        color: rgb(138, 136, 136);
        font-weight: 400;
        font-size: 17px;
    }
    .card2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:375px) {
    body{
        margin: 5px;
        background-color: hsl(212, 45%, 89%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        width: 100%;
    }
    .card{
        border: none;
        border-radius: 25px;
        width: 93%;
        height: 520px;
        background-color: hsl(0, 0%, 100%);
        align-items: center;
        font-family: 'Outfit', sans-serif;
        margin: 7%;
    }
    .image{
        border-radius: 15px;
        border: none;
        width: 300px;
        height: 300px;
        margin-top: 18px;
    }
    .p1{
        margin: 28px 20px 15px 15px;
        text-align: center;
        color: hsl(218, 44%, 22%);
        font-size: 25px;
        font-weight: 700;
    }
    .p2{
        margin: 20px 30px 22px 30px;
        text-align: center;
        color: rgb(138, 136, 136);
        font-weight: 400;
        font-size: 17px;
    }
    .card2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
